@using Memeify.Web.Models
@model MemeModel

@{
    ViewBag.Title = "Create a meme";
}

<h2>Create a meme</h2>

@using (Html.BeginForm("CreateMeme", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    
    <p>
        @Html.LabelFor(x => x.Image)
        @Html.TextBoxFor(x => x.Image, new { type = "file" })        
    </p>

    <p>
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title)
    </p>

    <p>
        @Html.LabelFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description)
    </p>
    
    <p>
        <input type="submit" value="Create this meme!" />
    </p>
    
}